{% extends "base.html" %}
{% block title %}Question{% endblock %}
{% block content %}
{% load static %}
<form>
  <select 
    hx-post="{% url "get_question_area" %}"
    hx-target="#questionBox"
    class="form-control mt-2"
    name="questionType">
  <option value="None">----Selection Option----</option>
  {% for questionValue, questionType in questionOptions %}
    <option value="{{ questionValue }}">{{ questionType }}</option>
  {% endfor %}
  <select>
</form>
<div id="questionBox" class="md-3 mt-3">
  <h4 class="text-center">Your question box will appear here</h4>
</div>
<div class="md-3 mt-3">
  <div id="answerBox"> </div>
  <div class="container text-center">
    <div class="row justify-content-md-center">
      <div col="col col-lg-1">
      <img height="100px" width="100px" id="spinner" class="htmx-indicator" src="{% static '/img/spinner.gif' %}"/>
      <div>
    </div>
  </div>
</div>
<div id="preivousQuestionHeader" class="container">
</div>
<div id="previousQuestions" class="container justify-content-center" style="max-width: 700px">
</div>
{% endblock %}